<!-- <nav>
  <ul style="list-style:none; display:flex; gap:20px;">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
    <li><a href="{{ '/information' | relative_url }}">Information</a></li>
    <li><a href="{{ '/code' | relative_url }}">Code</a></li>
    <li><a href="{{ '/album' | relative_url }}">Album</a></li>
  </ul>
</nav>
<hr> -->

<nav style="text-align:center; margin-top:20px;">
  <ul style="list-style:none; display:inline-flex; gap:25px; padding:0;">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
    <li><a href="{{ '/information' | relative_url }}">Information</a></li>
    <li><a href="{{ '/code' | relative_url }}">Code</a></li>
    <li><a href="{{ '/album' | relative_url }}">Album</a></li>
  </ul>
</nav>
<hr>
